@model Produit
@{
    ViewData["Title"] = "Delete";
}




<h4 class="text-danger">Etes vous sure de vouloir supprimer cet objet></h4>

<form method="post" asp-action="Delete">
        <input asp-for="ProduitID" hidden />
    <div class="border pt-3 p-3">
        <div class="pb-3">
            <label>Description</label>
            <input asp-for="Description" disabled class="form-control" />

        </div>

        <div class="pb-3">
            <label>Prix</label>
            <input asp-for="Prix" disabled class="form-control" />

        </div>

        <button type="submit" class="btn btn-danger mx-1 " style="width: 150px">Delete</button>
        @*<a asp-controller="Produit" asp-action="DeletPost" asp-route="@ProduiID" class="btn btn-danger mx-1 " style="width: 150px">Delete</a>*@

        <a asp-controller="Produit" asp-action="Index" class="btn btn-secondary mx-1 " style="width: 150px">BackToList</a>


    </div>

</form>